
.homepage {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .homepage h1 {
    font-size: 3rem;
    color: #333;
  }
  
  .homepage p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  
  .explore-stats {
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
  }
  
  .explore-stats h2 {
    font-size: 2rem;
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: center;
  }

  .league-section {
    margin-bottom: 30px;
  }
  
  .league-section h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
  }
  
 
  .league-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .league-section li {
    margin: 5px 0;
  }
  
  .league-section a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .league-section a:hover {
    text-decoration: underline;
  }
  
 
  .nba-section h3 {
    color: #006bb6; 
  }
  
  .nfl-section h3 {
    color: #d50a0a; 
  }
  
  .mlb-section h3 {
    color: #162546; 
  }
  