/* jayson-tatum.css */

/* Profile container styles */
.profile-container {
    color: white;
    padding: 20px;
    text-align: center;
    position: relative; /* This ensures the image is positioned relative to the profile container */
  }
  
  .profile-container h1 {
    font-size: 2.5em;
    color: #007a33; /* Celtics Green */
  }
  
  .profile-container h2 {
    font-size: 1.5em;
  }
  
  .profile-container p {
    font-size: 1.2em;
  }
  
  /* Player Image */
  .profile-img {
    position: absolute; /* This allows the image to be positioned at a specific spot */
    top: 0; /* Aligns the image to the top */
    left: 0; /* Aligns the image to the left */
    max-width: 500px; /* Adjust as needed */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Player Image container */
  .player-image {
    margin-top: 20px;
  }
  
  /* Stats table styles */
  .stats-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: white;
  }
  
  .stats-table th,
  .stats-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .stats-table th {
    background-color: #007a33; /* Celtics Green */
  }
  
  .stats-table td {
    background-color: #003b2d; /* Darker Celtics Green */
  }
  
  .highlight-video {
    margin-top: 500px; /* Adjust this value as needed */
    margin-bottom: 20px; /* Adjust this value if you want space below the video */
  }
  
  